html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.dataTables_filter {
    margin-bottom: 20px;
}

/*.card {
    transition: background-color 0.3s ease;
}
.card:hover {
        background-color: #f8f9fa;*/ /* Ganti dengan warna yang diinginkan */
    /*}*/


.room-package-card {
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer; /* Mengubah cursor saat hover */
}

    .room-package-card:hover {
        background-color: #f0f0f0; /* Ganti dengan warna yang diinginkan */
        transform: scale(1.05); /* Menambah sedikit efek zoom saat hover */
    }    
