@model int
<div class="container pt-4">
    <div class="col-12 text-center">
        <h1 class="text-success text-center">
            Your Book is Success!
        </h1>
        <p>Your Order Number is: @Model</p>
        <p>Please wait for Admin Confirmation.</p>
        <p>Thank you!</p>
        <p>Need Help? Contact us on:</p>
        <p>Email: <a href="mailto:Email@email.com">Email@email.com</a></p>
        <p>No Telp / Wa: (Your Phone Number)</p>
    </div>
    <div class="col-12 text-center text-warning">
        <p class="pt-1">You can view all order details in Manage Booking Section.</p>
    </div>
</div>
